<% @boxes.each do |box| %>
  <h1><%= box.name %> Toybox</h1>
<% end %>
<% @toys.each do |toy| %>
  <h3><%= toy.name %></h3>
  <p>Play Count: <%= toy.play_count %></p>
  <p>Age Appropriate? <%= toy.age_appropriate %></p>
<% end %>

<%= link_to "Create Toy", "/boxes/:id/toys/new" %>
