<a href="/boxes/:id/toys">Toybox Index Page</a>
<h3><%= @box.name %></h3>
  <p>Capacity: <%= @box.capacity %> </p>
  <p>Full? <%= @box.full %> </p>
  <p>Count: <%= @box.toys.count %> </p>

<%= link_to "Update Box", "/boxes/:id/edit" %>
